@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

/* --------------------- Base Reset --------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Raleway, sans-serif;
}

body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* Makes the main content area expand to fill space */
    margin-left: 20px;
    margin-right: 20px;
}